<section id="new-files-page">
  <div class="page-header">
      Domain Drive Files
  </div>

  <table class="table table-striped" id="files">
    <thead>
      <tr><th>Title</th><th>Owner</th><th>Id</th><th>Parent</th></tr>
    </thead>
    <tbody>
      <% @files.each do |file| %>
        <tr class="file-record" 
            data-title="<%= file[:title] %>"
            data-owner="<%= file[:owner] %>"
            data-id="<%= file[:id] %>"
            data-parent="<%= file[:parent] %>"
        >
          <td class="title"><%= file[:title] %></td>
          <td class="owner"><%= file[:owner] %></td>
          <td class="id"><%= file[:id] %></td>
          <td class="parent"><%= file[:parent] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <button id="change-permissions-btn" class="btn btn-large btn-primary">Change Permissions</button>
</section>