<div class="page-header">
    <h1>Dominios registrados</h1>
</div>

<% if !@domains.empty? %>
<table id="domains" class="table table-striped domains" >
	<thead>
		<tr><th>Dominios activos</th><th>Licencias</th></tr>
	</thead>
	<tbody>
		<% @domains.each do |domain| %>
			<tr class="domain-record">
				<td id="name"><span><%= domain.domain %></span></td>
				<td id="licenses"><span><%= domain.licenses %></span></td>
				<td id="actions">
					<a onclick="desactivateDomain('<%= domain.domain %>')" id="desactivate">
						<img src="img/desactivate-domain.png" alt="Desactivate" />
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<% if !@inactive.empty? %>
	<table id="inactive-domains" class="table table-striped domains" >
		<thead>
			<tr><th>Dominios inactivos</th><th>Licencias</th></tr>
		</thead>
		<tbody>
			<% @inactive.each do |domain| %>
				<tr class="domain-record">
					<td id="name"><span><%= domain.domain %></span></td>
					<td id="licenses"><span><%= domain.licenses %></span></td>
					<td id="actions">
						<a onclick="activateDomain('<%= domain.domain %>')" id="activate">
							<img src="img/activate-domain.png" alt="Activate" />
						</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<div style="display:none;">
<form method="post" action="/admin/desactivateDomain" id="desactivate-form">
	<input type="hidden" name="domain" id="domain-to-desactivate"/>
	<button id="desactivate" type="submit">
		<img src="img/desactivate-domain.png" alt="Desactivate" />
	</button>
</form>
<form method="post" action="/admin/reactivateDomain" id="activate-form">
	<input type="hidden" name="domain" id="domain-to-activate"/>
	<button id="activate" type="submit">
		<img src="img/activate-domain.png" alt="Activate" />
	</button>
</form>
</div>
<script type="text/javascript">
	function desactivateDomain(domain){
		$('#domain-to-desactivate').val(domain);
		$('#desactivate-form').submit();
	}
	function activateDomain(domain){
		$('#domain-to-activate').val(domain);
		$('#activate-form').submit();
	}
</script>